/***** 
COLOR CHEAT SHEET 
https://coolors.co/800016-a0001c-c00021-ff002b-ffffff-407ba7-004e89-002962-00043a
800016- maroon
a0001c- scarlet red
c00021- fire brick red
ff002b- brightest red
ffffff- white
407ba7- lighter blue
004e89- deeper blue
002962- navy blue
00043a- darkest navy
2d5767- aqua
447da9 - sky blue
2d5767 - ocean blue
*****/


/********************/
/******* FONTS ******/
/********************/
body,
p {
    font-family: "Playpen Sans", cursive;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Protest Guerrilla", sans-serif;

}

/********************/
/******* HERO ******/
/********************/
header.masthead {
    background-image: url('../img/bg.jpeg');
}
header.masthead h1 {
    color: #ffffff;    
}
header.masthead p {
   font-size: 50px;  
   color: rgb(255, 255, 255);
}
body {
    color: #ffffff;
}
.btn-primary {
    background-color: #2f586a !important; 
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #3d6372 !important;
}



/********************/
/******* COLORS ******/
/********************/
.text-primary {
    color: #2f586a !important;
}
.text-primary {
    color: #2f586a !important;
}

hr.divider {
    background-color: #2f586a;
}

hr.divider {
    background-color: #ffffff;
}

#mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

hr.divider {
    background-color: hsl(0, 0%, 100%);
}

.bg-primary {
    background-color: #2f586a !important;
}

.carousel-caption {
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px; /* Adds space around the text */
    border-radius: 5px; /* Optional: Rounds the corners of the background */
}



/********************/
/******* CRITERIA ******/
/********************/
#services .h4 {
    color: #2f586a !important;
}

/********************/
/******* NAV ******/
/********************/
#mainNav.navbar-shrink {
    background-color: #fff;
}

#mainNav.navbar-shrink .navbar-brand {
    color: #ffffff;
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: #ffffff !important;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav.navbar-shrink .navbar-brand:hover {
    color: #dbd6d6 !important;
}

#mainNav.navbar-shrink {
    background-color: #2f586a;
}


/********************/
/******* NAV ******/
/********************/

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #2d5767cb;
}

#mainNav .navbar-brand {
    color: rgba(255, 255, 255, -3.3);
}

/********************/
/******* 3 WORST RIDES ******/
/********************/
body {
    color: #2f586a;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #2f586a !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #2f586a !important;
}