/***** 
COLOR CHEAT SHEET 
https://coolors.co/800016-a0001c-c00021-ff002b-ffffff-407ba7-004e89-002962-00043a
800016- maroon
a0001c- scarlet red
c00021- fire brick red
ff002b- brightest red
ffffff- white
407ba7- lighter blue
004e89- deeper blue
002962- navy blue
00043a- darkest navy
2d5767- aqua

*****/


/********************/
/******* FONTS ******/
/********************/
body,
p {
    font-family: "Playpen Sans", cursive;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Protest Guerrilla", sans-serif;

}

/********************/
/******* HERO ******/
/********************/
header.masthead {
    background-image: url('../img/bg.jpeg');
}
header.masthead h1 {
    color: #ffffff;    
}
header.masthead p {
   font-size: 50px;  
}
body {
    color: #ffffff;
}
.btn-primary {
    background-color: #004e89;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #2f71a3;
}

/********************/
/******* COLORS ******/
/********************/
.text-primary {
    color: #c00021 !important;
}
.text-primary {
    color: #c00021 !important;
}

hr.divider {
    background-color: #c00021;
}

hr.divider {
    background-color: #ffffff;
}

#mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

hr.divider {
    background-color: hsl(0, 0%, 100%);
}

.bg-primary {
    background-color: #2d5767 !important;
}
/********************/
/******* CRITERIA ******/
/********************/
#services .h4 {
    color: #c00021 !important;
}

/********************/
/******* NAV ******/
/********************/
#mainNav.navbar-shrink {
    background-color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #c00021 !important;
}